{% extends "base.html" %}
{% block content %}
    <div class="justify">
        <p>
        <h6>About project: Oxford Nanopore Technology - enzyme optimization and genomic data analysis in commercial
            applications
        </h6>
        The goal of the project was to achieve a form that allows potential commercialization of basic and industrial
        research on 4th generation sequencing technology - Oxford Nanopore at Rzeszow University of Technology. This
        technology is an innovative solution in the field of protein analysis and their mutation having many practical
        applications in the area of: rapid identification of pathogens, virus monitoring, analysis of the state of the
        environment, monitoring of the state of food, analysis of antibiotic resistance, genetic mutation testing
        leading to cancer. Particularly useful is the MinION solution that allows protein sequencing through a mobile
        USB device. The project provides for basic research based on a series of experiments on the industrial
        optimization of enzymes produced by Bacillus bacteria (proteases, amylases, lipases, chitinases, pectinases, as
        well as compounds with bactericidal and antifungal activity). In the field of Oxford Nanopore technology,
        cooperation with CeNT UW has been carried out. During the implementation of the project, experimental data has
        been collected and served as motivation to finalize the bioinformatic server, which automatically process data
        from the MinION sequencer, eliminating the need for bioinformatic skills by the person performing the sequencing
        (e.g. biologist). The progress of server development is possible thanks to the alpha version of the solution
        proposed by CeNT UW. This server was supported by the project "Oxford Nanopore technology: optimization of
        enzymes and analysis of genomic data for commercial applications" granted by the
        <a href="https://pcinn.org/" target="_blank">
            Subcarpathian Centre of Innovation(Podkarpackie Centrum Innowacji, PCI),
        </a>
        agreement nr 05/PRZ/1/DG/PCI/2019. Read more:
        <a href="https://zsz.prz.edu.pl/en/research-and-development/projects/oxford-nanopore-technology"
           target="_blank">
            Oxford Nanopore Technology - enzyme optimization and genomic data analysis in commercial applications.
        </a>
        </p>

        <p>
            Details about NonoForms.Tech serwer are published in paper: <br/>
            Czmil A., Wroński M., Czmil S, Sochacka-Piętal M., Ćmil M., Gawor J., Wołkowicz T., Plewczyński D., Strzałka
            D., Piętal M.; NanoForms: an integrated server for processing, analysis and assembly of raw sequencing data
            of microbial genomes, from Oxford Nanopore technology. PeerJ, 2022, 10, e13056,
            <a href="https://doi.org/10.7717/peerj.13056" target="_blank">https://doi.org/10.7717/peerj.13056</a>
        </p>

        <p>
        <h6>Academic public licence</h6>

        The NanoForms service is free to use for academic users. This means, if you're a student or a researcher, feel
        free to use it. If you are an employee of a commercial entity and want to use the service,
        please <a href="mailto:m.pietal@prz.edu.pl">write to us</a>
        describing your needs, in order to receive a custom offer.
        NanoForms is delivered via Software-as-a-Service model but is also distributed as open-source, via GPLv3
        licensing scheme: <a href="https://github.com/czmilanna/nanoforms">https://github.com/czmilanna/nanoforms</a>.
        Please note however that this is the license for academic purposes only, separate license is needed for
        commercial purposes.

        <br>
        NanoForms is delivered via the Software-as-a-Service model and because it contains some proprietary pieces of
        code,
        it is distributed as a closed-source.
        <br>
        NanoForms uses third party software which is governed by numerous open source licenses:
        <ul>
            <li>Bandage is distributed under the GPL-3.0 License.</li>
            <li>Fastp is distributed under the GPL-3.0 License.</li>
            <li>FastQC is distributed under the GPL-3.0 License.</li>
            <li>Filtlong is distributed under the GPL-3.0 License.</li>
            <li>Flye is distributed under the BSD-3-Clause license.</li>
            <li>Kraken 2 is distributed under the MIT License.</li>
            <li>Kraken Tools is distributed under the GPL-3.0 License.</li>
            <li>Krona is distributed under the BSD open-source License.</li>
            <li>Medaka is distributed under the Mozilla Public License 2.0.</li>
            <li>Nanofilt is distributed under the GPL-3.0 License.</li>
            <li>NanoPlot is distributed under the GPL-3.0 License.</li>
            <li>Prokka is distributed under the GPL-3.0 License.</li>
            <li>Rebaler is distributed under the GPL-3.0 License.</li>
            <li>Unicycler is distributed under the GPL-3.0 License.</li>
            <li>QUAST is distributed under the GPL v2 License.</li>
        </ul>
        Please note that the above bioinformatics toolkit also triggers some other bioinformatics pieces software, which
        are governed by separate open source licences.
        <br/>
        <br/>
        Unless stated otherwise, the software which is used within the server code is copyrighted. © 2020 Anna Czmil,
        Sylwester Czmil, Michal Wronski, Michal Cmil, Michal Pietal and Rzeszow University of Technology. The works on
        this server in the area of testing, data provision or administrative and managerial matters were also provided
        by other research Team members: Marta Sochacka-Pietal, Malgorzata Semik, Dominik Strzalka and Magdalena
        Rogoz (<a href="https://w.prz.edu.pl/en/" target="_blank">Rzeszow University of Technology</a>) and also, in the
        area of nanopore advisory, by Jan Gawor (<a href="https://www.ibb.waw.pl/en" target="_blank">Institute of
        Biochemistry and Biophysics, Polish Academy of Sciences</a>).
        At the end of the project, some pieces of code were leased free of charge, courtesy of
        <a href="https://www.softsystem.pl)" target="_blank">SoftSystem Sp. z o.o. (Ltd.)</a> for the purpose of
        smoothing the User Experience, assure better code maintainability and also, to open the path for another,
        commercial license being under consideration.
        </p>
    </div>

{% endblock %}